/* ===============================
   SMALL DEVICE (0 – 576px)
=================================*/
@media screen and (max-width: 576px) {

    /* NAVBAR */
    .navber {
        padding: 16px 20px;
    }

    .nav-manu {
        display: none;
    }

    .btn {
        display: none;
    }

    .nav-span {
        display: block;
    }

    /* BANNER */
    .banner {
        padding: 20px 10px;
         background-image: url(./assets/bg-b-r.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    }

    .circle {
        width: 150px;
    }

    .micro {
        width: 60px;
    }

    .banner-text-info h1 {
        font-size: 2rem;
    }

    .banner-text-info p {
        font-size: 0.9rem;
        white-space: normal;
        padding: 0 10px;
    }

    .banner-button {
        flex-direction:row;
        gap: 12px;
    }
.parent{
  position: relative;
  margin-top: 50px;
}
    /* ABOUT */
    .about {
        margin: 40px 20px;
    }

    .about-text h1 {
        font-size: 2rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }

    .about-card {
        flex-wrap: wrap;
        gap: 20px;
        /* display: grid;
        grid-template-columns: repeat(2,200px);
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left:6rempx; */
    }

    .card-info {
        width: 48%;
    }

    /* WHY CHOOSE */
    .Choose {
        width: 100%;
        height: auto;
        padding: 40px 0;
    }

    .bento-grid {
        grid-template-columns: 1fr;
    }

    .span-4,
    .span-8 {
        grid-column: span 12;
    }

    /* FEATURED EPISODES */
    .feature {
        padding: 60px 20px;
    }

    .card-container {
        flex-direction: column;
    }

    .feature-card {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
        height: 200px;
    }

    /* HOST */
    .host-container {
        flex-direction: column;
        text-align: center;
    }

    .host-img {
        width: 100%;
    }

    .host-text h2 {
        padding-top: 20px;
    }

    /* FOOTER */
    .footer-manu {
        flex-direction: column;
        gap: 16px;
    }

    .footer-conteiner h3 {
        font-size: 2.5rem;
    }
}


/* ===============================
   MEDIUM DEVICE (576px – 992px)
=================================*/
@media screen and (min-width: 576px) and (max-width: 992px) {

    /* NAVBAR */
    .navber {
        padding: 16px 40px;
    }

    .nav-manu {
        display: none;
    }

    .btn {
        display: none;
    }

    .nav-span {
        display: block;
    }

    /* ABOUT */
    .about {
        margin: 60px 40px;
    }

    .about-card {
        flex-wrap: wrap;
        gap: 30px;
    }

    .card-info {
        width: 45%;
    }

    /* WHY CHOOSE */
    .Choose {
        width: 100%;
        height: auto;
        padding: 60px 20px;
    }

    .bento-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .span-4,
    .span-8 {
        grid-column: span 1;
    }

    /* FEATURE */
    .feature {
        padding: 80px 40px;
    }

    .card-container {
        flex-wrap: wrap;
    }

    .feature-card {
        width: 45%;
        height: auto;
    }

    /* HOST */
    .host-container {
        flex-direction: column;
        text-align: center;
    }

    .host-img {
        width: 70%;
    }
}