@media screen and (max-width: 576px) {

  /* NAVIGATION */
  .navber {
    padding: 12px 16px;
  }
  .nav-manu {
    display: none;
  }
  .btn {
    display: none;
  }
  .nav-span {
    display: block;
  }

  /* BANNER */
.banner {
        padding: 40px 12px;
    }
    .circle {
        width: 200px;
    }
    .micro {
        width: 80px;
    }
    .parent span {
    position: absolute;
    left: 60%;
    top: 8px;
    transform: translateX(-50%);
    background-color: #00ff88;
    color: black;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
}

    .banner-text-info h1 {
        font-size: 2rem;
    }
    .banner-text-info p {
        font-size: 0.85rem;
        max-width: 100%;
    }
    
    .Listen, .Subscribe {
        width: 100%;
    }
 
  /* ABOUT */
  .about {
    margin: 40px 16px 80px;
    overflow-x: hidden;
  }
  .about-text h1 {
    font-size: 2rem;
  }
  .about-text p {
    font-size: 0.95rem;
  }
  .about-card {
    display: grid;
    grid-template-columns: repeat(2,200px);
    gap:8px;
  }

  /* WHY CHOOSE */
  .Choose {
    padding: 40px 0;
    width: 100%;
    height: auto;
  }
  .techwave h2 {
   margin-bottom: 60px;
  }
  .bento-grid {
    display: block;
    margin: 0 16px;

  }
  .card {
    margin-bottom: 20px;
    padding: 20px;
  }
  /*feature part */

  .feature-video iframe{
   width: 100%;
   max-width: 100%;
    /* width:550px
 */
  }
  .feature {
    padding: 40px 16px;
  }
  .card-container {
    flex-direction: column;
    gap: 24px;
  }
  .feature-card {
    width: 100%;
    height: auto;
  }
  .feature-text h2,
  .feature-text p {
    font-size: 1rem;
  }

  /* MEET THE HOST */
  .Meet-the-Host h1 {
    font-size: 2rem;
    padding: 40px 0 20px;
  }
  .host-container {
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    text-align: center;
  }
  .host-text h2 {
    font-size: 1.5rem;
    padding-top: 5px;
  }
  .host-text p {
    font-size: 0.95rem;
  }
  .host-img{
  width:100% 
}
  .host-icon {
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  /* FOOTER */
footer {
padding: 40px 0;
 background-image: url(assets/Image\ \(1\).png);
 background-size: cover;
background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  align-items: center;
  }
  .footer-conteiner h3 {
    font-size: 2.5rem;
  }
  .footer-manu{
     max-width: 250px; 
    margin: 0 auto;
    gap: 24px;
    
  }
  .info-footer img {
    width: 18px;
    height: 18px;
  }
  .footer-podcast {
    font-size: 0.9rem;
   
  }
.info-footer p{
 white-space:nowrap;

}

}